<script>

// Text input field component
const textInput = {
  props: {
    field: { required: true },
    data: { required: false }
  },

  template: `
  <div class="form-group">
     <label for="previewName">{{ field.name }} {{ field.required ? '*' : '' }}
    <small>{{ field.shortDescription }}</small>
      <input class="input " type="text" :placeholder="field.placeholder" v-model="field.value">
      </label>
  </div>
  `
};

// Checkbox input field component
const checkboxInput = {
  props: {
    field: { required: true },
    data: { required: false }
  },

  template: `
  <div class="form-group">
    <label>
      {{ field.name }} {{ field.required ? '*' : '' }}</label>
    <small>{{ field.shortDescription }}</small>
  </div>
  `
};

// Textarea input field component
const textareaInput = {
  props: {
    field: { required: true },
    data: { required: false }
  },

  template: `
  <div class="form-group">
    <label>{{ field.name }} {{ field.required ? '*' : '' }}</label>
    <small>{{ field.shortDescription }}</small>
    <label class="input">
      <textarea type="checkbox form-control" v-model="field.value"/>
    </label>
  </div>
  `
};

// Number input field component
const numberInput = {
  props: {
    field: { required: true },
    data: { required: false }
  },

  template: `
  <div class="form-group">
    <label>{{ field.name }}</label>
    <small>{{ field.shortDescription }}</small>
    <label class="input">
      <input type="number form-control" v-model="field.value"/>
    </label>
  </div>
  `
};
// File input field component
const fileInput={
  props:{
    field :{required :true},
    data: {required :false}
  },
  template :`
  <div class= "form-group">
  <label>{{field.name}}</label>
  <small>{{ field.shortDescription }}</small>
  <label class="input">
  <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length" accept="image/*" class="input-file">
     <p v-if="isInitial">
         Drag your file(s) here to begin<br> or click to browse
      </p>
     <p v-if="isSaving">
         Uploading {{ fileCount }} files...
        </p>
  </label>
  </div>
  `
}

// Dynamic form component
const dynamicForm = {
  template: `
  <div class="dynamic-form">
    <template v-for="field in dynamicFields">
      <component :is="field.type+'-input'" :field="field"></component>
      <div class="row">
        <label class="input col-sm-5" v-for="option in field.options">
          <input class="type" type="checkbox" v-model="option.value"/>
           {{ option }}
        </label>
      </div>
    </template>
  </div>
  `,


  components: {
    textInput,
    checkboxInput,
    textareaInput,
    numberInput,
  },

  props: {
    dynamicFields: { required: true },
    data: { required: true }
  }
};
const dynamicForms = {
  template: `
  <div class="dynamic-form">
    <template v-for="field in dynamicFields">
      <component :is="field.type+'-input'" :field="field"></component>
      <div class="row">
        <label class="input col-sm-5" v-for="option in field.options">
            {{ option }}
          <input class="type" type="textInput" v-model="option.value"/>
           </label>
      </div>
    </template>
  </div>
  `,


  components: {
    textInput,
    checkboxInput,
    textareaInput,
    numberInput
  },

  props: {
    dynamicFields: { required: true },
    data: { required: true }
  }
};

module.exports = {
  DynamicForm: dynamicForm,
  DynamicForms:dynamicForms
};

</script>
