<template>
  <div :class="$options.name">
    <ul v-if="tagOptions.length" class="list-inline">
      <li v-for="tag in tagOptions" :key="tag.id" class="list-inline-item">
        <button class="btn btn-primary btn-sm" @click="removeTag(tag)">{{ tag.label }} (x)</button>
      </li>
    </ul>
    <input
      class="form-control"
      v-model="newTag"
      @keydown.enter="addTag"
      @keyup="keyUp"
      @keydown="keyDown"
      :placeholder="placeholder"
    >
    <ul class="suggestions">
      <li v-for="user in options" :key="user.id">
        <button @click="addTag">
          {{user.firstName}} {{user.lastName}}
          {{user.email}}
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import formOptionSelectMixin from '../mixins/formOptionMixin';

export default {
  name: 'FormTagsInput',
  mixins: [formOptionSelectMixin],
  props: {
    newTagAdapter: {
      type: Function,
      default: value => value
    }
  },
  data() {
    return {
      newTag: ''
    };
  },
  computed: {
    newTagOption() {
      return this.optionAdapter(this.newTagValue);
    },
    newTagValue() {
      const trimmedNewTag = this.newTag.trim();
      return trimmedNewTag.length > 0
        ? this.newTagAdapter(trimmedNewTag)
        : null;
    },
    adaptedOptions() {
      return this.options.map(x => this.optionAdapter(x));
    },
    tagOptions() {
      if (typeof this.value === 'object') {
        return this.value.map(x => this.optionAdapter(x));
      }
      return [];
    }
  },
  methods: {
    addTag() {
      if (!this.newTagValue || this.tagOptions.find(({ id }) => id === this.newTagOption.id)) {
        return;
      }
      this.$emit('change', [...this.value, this.newTagValue]);
      this.newTag = '';
    },
    removeTag(tag) {
      this.$emit('change', this.value.filter(x => this.optionAdapter(x).id !== tag.id));
    },
    keyUp() {
      this.keyup(this.newTag);
    },
    keyDown() {
      this.keydown(this.newTag);
    }
  }
};
</script>
