<template>
  <div
    class="vue-modal"
    @keydown.esc="modalToggle"
    tabindex="-1"
    role="dialog"
  >
    <transition name="scale">
      <div class="vue-modal-container" >
        <div class="vue-modal-inner">
          <div class="vue-modal-header">
            <h2 class="vue-modal-title">
              <slot name="title"></slot>
            </h2>
            <button
              class="vue-modal-close"
              @click="modalToggle"
              v-html="closeIcon"
              arial-label="close"
              type="button"
            ></button>
          </div>

          <div class="vue-modal-content">
            <slot name="body"></slot>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
/* eslint-disable */
export default {
  name: "VuexplosionModal",
  props: {

    title: {
      default: "Boo! 🔥"
    },
    closeIcon: {
      default: `<span>✖</span>`
    },
    content: {
      default: `<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet a tenetur delectus reprehenderit, omnis doloremque at earum officia unde sequi accusantium corporis praesentium deserunt laboriosam dignissimos voluptatum culpa molestiae ullam. 👻</p>`
    }
  },
  data: function() {
    return {

    };
  },

  methods: {
    modalToggle() {
      /*this.active = !this.active;*/  //transitions disabled
      this.$emit('close');
    }
  },
  watch: {
    visible(oldVal, newVal) {
      this.active = !this.active;
    }
  }
};
</script>


<style scoped>
.vue-modal {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.vue-modal-container {
  background: #fff;
  width:80%;
  max-height:80%;
  overflow-y: auto;
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  padding: 15px;
  border-radius: 5px;
}
.vue-modal-inner {
  padding: 10px;
}
.vue-modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.vue-modal-title {
  font-size: 25px;
  padding-left: 15px;
}

.vue-modal-close {
  align-self: flex-start;
  font-size: 25px;
  color: rgb(105,105,105);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

.vue-modal-content {
  font-size: 17px;
  color: #666;
  padding-left:15px;
}

.vue-modal-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 999;
}

.vue-modal-explosion-gif {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 1;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.vue-modal-footer {
  margin-top: 20px;
}

.vue-modal-hidden {
  display: none;
}
.vue-modal-visible {
  display: block;
}

.scale-enter-active {
  animation: bounce-in 0.3s;
}
.scale-leave-active {
  animation: bounce-in 0.3s reverse;
}
@keyframes bounce-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
</style>
