<template>
  <div class="container">
    <h4>Accommodations
       <img src="@/assets/icons/icons8-info.svg" alt="info" @click="openModal"/>
      <VuexplosionModal v-show="showModalFirst" @close="closeModal">
      <div slot="title">Accommadations</div>
       <div slot="body">
         <p class="text-left">This section is...</p>
       </div>
     </VuexplosionModal>
     </h4>
   
    <form>
      <b-card no-body>
        <b-tabs pills card vertical nav-wrapper-class="col-4">
          <b-tab :title="getServiceTypes[sName]" v-for="(serviceType, sName) in accommodations" :key="sName">
            <b-card-text>
            <div v-if="sName == 'examAccommodations'">
              <!--p>
                Following amenities/facilities are available to all the students with
                any of the 21 specified disabilities as per the Persons with Disabilities Act, 2016
                at Higher Education/University level.
              </p>
                <ul>
                  <li>You will be allocated a separate room for examination.</li>
                  <li>You will be given extra time of 20 minutes per hour for all types of examinations
                    (internal, External, Practical).
                  </li>  
                </ul-->
                <!--VuexplosionModal v-show="showModal" @close="closeModal">
                  <div slot="title">{{getServiceTypes[sName]}}</div>
               <div slot="body" class="text-left" >
              <p>In addition please tick which of the following provisions available to all students
                with the specified 21 disabilities you would like to seek:
              </p>
              <ul>
                <li>Use of a writer for your examinations for Internal Class Tests/End Semester/Both</li>
                <li>Marks for spelling, grammar, punctuation marks errors will not be deducted.</li>
              </ul>
              <p>
                In addition to the above, <b>please tick</b>
                your disability specific provisions that are available to you.
                Please mark which of these would you like to avail of.
                The same are available under the following broad categories for each disability type
                <ul>
                  <li>A. Use of Devices/Tools/aids</li>
                  <li>B. Written Examination Options</li>
                  <li>C. Practical Examination Options</li>
                  <li>D. Project & Assignment Options</li>
                  <li>E. Alternative Exam and Evaluation Methods</li>
                  <li>F. Alternatives for Visual Questions</li>
                  <li>G. Infrastructure arrangements</li>
                </ul>
               <h4> FOR BLIND AND PARTIALLY BLIND STUDENTS:</h4>
                <h6><b>A. Use of Devices/Tools/aids</b></h6> 
                  <ul>
                <li>Use talking calculator at the time of examination. (Only for examinations where the sighted students are also permitted use of calculators)</li>
                <li>Partially blind students - use of sketch pen for writing answers and magnifier for reading question papers</li>
                <li>Use of abacus/taylor frame/geometrical materials at the time of examination.</li>
              </ul>
                 <h6>B. Written Examination</h6>
                  Options Please opt for which of the following options would you like as your written examinations:
                  <ul>
                 <li> Use of a computer with a screen magnifier for Class Tests/End Semester/BothUse of a computer with a screen reader for Class Tests/End Semester/Both</li>
                  <li>Use of tape recorder to record answers for Class Tests/End Semester/Both</li>
                  <li>Taking the exam with Braille Question Papers and Answering in Braille for Class Tests/End Semester/Both</li>
                  </ul>
                  <h6>C.PracticalExamination Options</h6> 
                  Please opt for which of the following options would you like as an alternative for your practical examinations:
                  <ul>
                  <li>Instead of practical, appear for oral/written examination having multiple option answers (based on practical).</li>
                  <li>Conduct the practical with lab assistant and accessible equipment</li>
                </ul>
                  <h6>D. Project & Assignment Options</h6>

              </p>

            </div>
               </VuexplosionModal-->
                <!--button type="button"  class="btn btn-info" @click="toggleModal">View More</button-->
            </div>
            <div v-else-if="sName== 'classAssistanceOptions' ">
              <label class="text-left" for="assitanceOPtions"><b>Please select which of the following provisions you would lie to avail of:</b></label>
              <p class="text-left">I would like to record the classroom lecture and make my own notes from the recordings</p>
              <p class="text-left">I would like to take Assistive Technology tools to class to take notes (Laptops, tablets etc)</p>
              <p class="text-left">I would like to have a note taker assigned to me in class for taking notes and aiding me for reading blackboard content or assisting me to follow things in class.</p>
              <p></p>
               <VuexplosionModal v-show="showModal" @close="closeModal">
                 <div slot="title">{{getServiceTypes[sName]}}</div>
                 <div slot="body">
                    <p class="text-left"><b>Please select which of the following provisions you would lie to avail of</b></p>
              <p class="text-left">I would like to record the classroom lecture and make my own notes from the recordings</p>
              <p class="text-left">I would like to take Assistive Technology tools to class to take notes (Laptops, tablets etc)</p>
              <p class="text-left">I would like to have a note taker assigned to me in class for taking notes and aiding me for reading blackboard content or assisting me to follow things in class.</p>
              <p class="text-left">I would like to have a lab assistant assigned to me in lab work classes for aiding me and to follow things in lab work classes</p>
              <p class="text-left">I would like to have the permission to bring my sign language interpreter to class</p>
              <p class="text-left">I would like to have permission to bring my personal note taker to class (Only offered to special cases on approval from principal</p>
              <p class="text-left"></p>
                 </div>
               </VuexplosionModal>
                <button type="button"  class="btn btn-info" @click="toggleModal">View More</button>
            </div>
            <div v-else-if="sName== 'accessibleContentServices'">
              <p class="text-left"><b>Please state which of the following formats would you like content to be made available for you:</b></p>
              <p class="text-left">E copy</p>
              <p class="text-left">Audio Fil/es</p>
              <p class="text-left">Easy to Read Content</p>
              <p class="text-left">Tactile Diagrams of Images</p>
              <VuexplosionModal v-show="showModal" @close="closeModal">
                <div slot="title">{{getServiceTypes[sName]}}</div>
                <div slot="body">
                  <p class="text-left"><b>Please state which of the following formats would you like content to be made available for you:</b></p>
              <p class="text-left">E copy</p>
              <p class="text-left">Audio Files</p>
              <p class="text-left">Easy to Read Content</p>
              <p class="text-left">Tactile Diagrams of Images</p>
              <p class="text-left">Audio Visuals to be subtitled/transcrip</p>
              <p class="text-left">(*These resources will be made available to the maximum extent possible.)</p>
                </div>
              </VuexplosionModal>
                <button type="button" class="btn btn-info" @click="toggleModal">View More</button>
              </div>
              <div v-else-if="sName=='teachingSupport'">
              <p class="text-left"><b>Please select which of these teaching support options you would like:</b></p>
                <p class="text-left">I would like to have a student teaching assistant assigned to me for out of class reinforcement and learning</p>
                <p class="text-left">If opting for student teaching assistant mention the subjects and frequency of support needed for each subject:____________________________________________</p>
                <p class="text-left">I would like to have a student teaching assistant assigned to me for working on projects/assignments/presentations. Please indicate frequency of help_______________</p>
                <p class="text-left">I would like to have a Special Educator assigned to me for out of class reinforcement and learning (This facility is dependent on availability.</p>
              </div>
              <div v-else-if="sName=='accessibleInfrastructure'">
                <p class="text-left"><b>Please select which of these provisions you would like:</b></p>
                <p class="text-left">I would want my classroom to be relocated to the ground/first floor (available only for students with orthopedic disabilities)</p>
                <p class="text-left">I would want access to the lift (Available only for students with orthopedic disabilities)</p>
              </div>
            
            <div v-for="(disability, disabilityName) in serviceType" :key="disabilityName">
              <h3>{{disabilityName}}</h3>

              <div v-for="(type, typeName) in disability" :key="typeName">
                <h4>{{typeName}}</h4>

                <div class="form-group" v-for="(field, index) in type" :key="index">
                  <input class="input form-control" type="text" placeholder="Define field name" v-model="field.name">
                  <input class="input form-control" type="text" placeholder="Add short description text"
                    v-model="field.shortDescription">
                  <div v-if="field.type== 'checkbox'">
                    <div class="col-sm-6" v-for="option in field.options" :key="option">
                      <input type="checkbox" v-model="option.select" />
                      <label>{{ option }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                    <input type="checkbox" v-model="institute.availableAccommodationIds" :value="field.id"/>
                      Select this accommodation
                    </div>
                    <div class="col-sm-4">
                      Required: {{field.required}}
                    </div>

                    <div class="col-sm-4">
                      Field Type: {{field.type}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            </b-card-text>
          </b-tab>
        </b-tabs>
      </b-card>
      <button type="submit" class="btn btn-primary" @click="handleSubmit">Submit</button>

    </form>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuexplosionModal from './custom/VueModal';

export default {
  name: 'AccommodationList',
  components: {
    VuexplosionModal
  },
  data() {
    return {
    showModal: false,
    showModalFirst:false,
    };
  },
  computed: mapGetters({
    institute: 'institute',
    accommodations: 'getAccommodationsTree',
    getServiceTypes: 'getServiceTypes'
  }),
  mounted() {
    this.$store.dispatch('getAccommodations');
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.$store.dispatch('updateInstitute', this.institute);
    },
    toggleModal() {
      this.showModal = !this.showModal;
    },
    openModal(){
      this.showModalFirst=!this.showModalFirst;
    },
    closeModal(){
      this.showModal=false;
      this.showModalFirst=false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  // display: inline-block;
  margin: 0 10px;
}
img {
  width:18px;
  height:18px;
}
.btn-primary {
    color: #fff;
    background-color: #076bd6;
    border-color: #076bd6;
}
</style>
