<template>
  <div class="container">
    <h4>Committees
    <img src="@/assets/icons/icons8-info.svg" alt="info" class="size" @click="openModal"></h4>
     <VuexplosionModal v-show="showModal" @close="closeModal">
      <div slot="title">Committees</div>
       <div slot="body">
          <p class="text-left">In order for disability services to run efficiently in any institute of higher education, we recommend three levels of bodies to be set up</p>
          <p class="text-left">1. Management Body: To decide on the overall institute policy on inclusion and the one that works as the decision making authority. </p>
          <p class="text-left">2. Disability Resource Centre: The service provider for disability services on campus</p>
          <p class="text-left">3. Student level Body: that looks at issues of inclusion amongst student bodies. </p>
       </div>
     </VuexplosionModal>
    <ul class="nav nav-pills">
      <li class="nav-item" v-for="committee in institute.committees" :key="committee.id">
        <router-link class="nav-link" :to="'/institute/committee/'+ committee._id"
          :title="'view committee '+ committee.name" >
          {{committee.name}} ({{committeeMap[committee.type]}})
        </router-link>
      </li>
      <li class="nav nav-pills">
        <router-link class="nav-link" :to="'/institute/committee/new'" title="add new committee">
          <img src="@/assets/icons/edit.svg" alt="create new committee" placeholder="Edit icon">
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuexplosionModal from './custom/VueModal';

export default {
  name: 'CommitteeList',
  components: {
    VuexplosionModal
  },
  data() {
    return {
      committeeMap: {
        1: 'General',
        2: 'Disability comm',
        3: 'Students',
        4: 'Other'
      },
      showModal: false
    };
  },
  computed: mapGetters({
    institute: 'institute'
  }),
  methods: {
    openModal() {
      this.showModal = !this.showModal;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.size {
  width:18px;
  height:18px;
}
</style>
