<template>
  <div class="container">
    <div v-if="committeeId">
    <constitution :committee="committee" :suggestions="suggestions"/>
  </div>
  <div v-else>
    <form class="form"  @submit="handleSubmit">
      <h4>Create a new Committee
        <img src="@/assets/icons/icons8-info.svg" alt="info" @click="openModal"></h4>
         <VuexplosionModal v-show="showModalFirst" @close="closeModal">
      <div slot="title">Committees</div>
       <div slot="body">
          <p class="text-left">In order for disability services to run efficiently in any institute of higher education, we recommend three levels of bodies to be set up</p>
          <p class="text-left">1. Management Body: To decide on the overall institute policy on inclusion and the one that works as the decision making authority. </p>
          <p class="text-left">2. Disability Resource Centre: The service provider for disability services on campus</p>
          <p class="text-left">3. Student level Body: that looks at issues of inclusion amongst student bodies. </p>
          <p class="text-left">You can begin with setting up all 3 for a holistic inclusive education experience. That would be recommended. If not, you could set up any one body to begin with and come back to set up the others as you start implementing your programs</p>
        </div>
      </VuexplosionModal>
      <fieldset>
          <legend class="font">Select Committee Type :</legend>
        <div class="form-group">

          <div class="radio">
             <input type="radio" name="type" id="General" v-model="committee.type" value="1">
             <label for="General">General committee</label>
           </div>
          <div class="radio">
            <input type="radio" name="type" id="Resource" v-model="committee.type" value="2">
            <label for="Resource">Disability Resource Center</label>
          </div>
          <div class="radio">
             <input type="radio" name="type" id="Student" v-model="committee.type" value="3">
             <label for="Student">Student committee</label>
          </div>
          <div class="radio ">
            <input type="radio" name="type" id="Other" v-model="committee.type" value="4">
            <label for="Other">Other</label>
           </div>
        </div>
      </fieldset>
      <div v-if="committee.type == 1">
        <h4>General Committee</h4>
      </div>
      <div v-if="committee.type == 2">
        <h4>Disability Resource Center</h4>
      </div>
      <div v-if="committee.type == 3">
        <h4>Student Committee</h4>
      </div>
      <div v-if="committee.type == 4">
        <h4>Other</h4>
      </div>
      <div v-if="committee.type==4">
        <label class="font" for="otherCommittee">Enter Committee Name :</label>
         <input type="text" class="form-control" id="otherCommittee" v-model="committee.name"
            placeholder="Enter committee name">
      </div>
      <div v-else>
      <fieldset>
        <legend class="font">Select Committee Name :</legend>
        <div class="form-group">
<<<<<<< HEAD

=======

>>>>>>> shadow
          <!-- ul class="suggestions" >
            <li v-for="index in suggestions[committee.type].name" :key="index">
              <a @click="addSuggestion('name', index)"> {{index}} </a>
            </li>
          </ul -->

          <div class="radio" v-for="index in suggestions[committee.type].name" :key="index">
              <label>
              <input type="radio" name="name" v-model="committee.name" :value="index">
              {{index}}</label>
         </div>
       </div>
        </fieldset>
          <label for="committeeName">Edit Committee Name</label>
          <input type="text" class="form-control" id="committeeName" v-model="committee.name"
            placeholder="Enter committee name" required>
         </div>

      <div class="form-group">
        <label for="constitution" class="font">Consitution</label>
        <textarea class="form-control" id="constitution" v-model="committee.constitution"
        placeholder="Constitution bylaws" required/>
      </div>
       <div class="form-group">
        <label for="addMember" class="font">Add Members
         <img src="@/assets/icons/icons8-info.svg" alt="info" @click="onShowModal"></label>
          <VuexplosionModal v-show="showModal" @close="closeModal">
      <div slot="title">Members of the Committee</div>
       <div slot="body">
            <div v-if="committee.type==2">
              <h5>Phase 1</h5>
              <ul>
                <li>Overall Director of the Resource Centre: A Staff of the Institute nominated.</li>
                <li>1 Technical Staff: IT background</li>
                <li>1 Overall Coordinator for delivering Guidance and other service: Psychology/Social Work/Special Education Background</li>
              </ul>
               <h5>Phase 2</h5>
              <ul>
                <li>Trainers: For the services selected to be delivered </li>
                <li>Additional Staff : For specific Advocacy/Awareness/R&D Projects being taken up on need basis.</li>
              </ul>

            </div>
            <ul v-else>
            <li v-for="(member, index) in suggestions[committee.type].members" :key="index">
              <div class="row">
                <div class="col-md-4">{{member.Members}}</div>
                <div class="col-md-3">{{member.Number}}</div>
                <div class="col-md-4">{{member.Appointment}}</div>
              </div>
            </li>
          </ul>
        </div>
      </VuexplosionModal>
        <input type="text" class="form-control" id="addMember" v-model="keywords" v-on:keyup="queryForUsers"
         placeholder="Search user to add">
        <ul class="suggestions">
          <li v-for="user in getFilteredUsers" :key="user.id">
            <a @click="addMember(user)">
              {{user.firstName}} {{user.lastName}}
              {{user.email}}
            </a>
          </li>
        </ul>
      </div>
      <ul v-if="committee && committee.members.length" class="list-inline">
          <li v-for="user in committee.members" :key="user.id" class="list-inline-item row">
            <div class="col-sm-5"> {{ user.name }} {{ user.email }} </div>
            <label class="col-sm-2 form-control">
              Designation
            </label>
            <input type="text" class="col-sm-4 form-control" name="designation" id="name" v-model="user.title"
              placeholder="Add designation/title">
            <button type="button" class="col-sm-1 btn btn-sm" @click="removeMember(user)">
              <img src="@/assets/icons/remove.svg" alt="Remove icon">
            </button>
          </li>
        </ul>
         <div class="form-group">
        <label for="totalMembers" class="font">Total Members in committee</label>
      <div class="radio" v-for="index in suggestions[committee.type].totalMembers" :key="index">
          <label><input type="radio" name="members" v-model="committee.totalMembers" :value="index">{{index}}</label>
        </div>
        <input type="text" class="form-control" id="totalMembers" v-model="committee.totalMembers"
        placeholder="Total Members in committee" autocomplete="off" required>
      </div>
       <div class="form-group">
        <label for="term" class="font">Committe term</label>
        <div class="radio" v-for="index in suggestions[committee.type].term" :key="index">
          <label><input type="radio" name="term" v-model="committee.term" :value="index">{{index}}</label>
        </div>
        <input type="text" class="form-control" id="term" v-model="committee.term"
        placeholder="Tenure of committee" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label for="frequency" class="font">Meeting frequency</label>
        <div class="radio" v-for="index in suggestions[committee.type].frequency" :key="index">
          <label><input type="radio" name="meeting" v-model="committee.frequency" :value="index">{{index}}</label>
        </div>
        <input type="text" class="form-control" id="frequency" v-model="committee.frequency"
        placeholder="Enter meeting frequency" autocomplete="off" required>
      </div>
     <div class="form-group">
        <div v-if="committee.type==4 || committee.type==2">
          <label class="font" for="otherScope">Scope Of Work</label>
          <input type="text" class="form-control" id="otherScope" v-model="scope"
         v-on:keyup.enter="addInputToArray('scope', scope)"
         placeholder="Describe Scope of work"/>
        </div>
       <div v-else>
        <fieldset>
        <legend class="font">Scope of work</legend>
        <div class="radio" v-for="index in suggestions[committee.type].scope" :key="index">
          <label><input type="checkbox" name="scope" v-model="committee.scope" :value="index">{{index}}</label>
        </div>
        </fieldset>
        <label for="scopeOfWork">Describe More</label>
          <input type="text" class="form-control" id="scopeOfWork" v-model="scope"
         v-on:keyup.enter="addInputToArray('scope', scope)"
         placeholder="Describe Scope of work"/>
       </div>
      </div>

      <div class="form-group">
        <div v-if="committee.type==4 || committee.type==2">
          <label class="font" for="otherDecision">Decision Making Process</label>
          <input type="text" class="form-control" id="Decision" v-model="otherDecision"
         v-on:keyup.enter="addInputToArray('decisionProcess', decisionProcess)"
         placeholder="Describe how Decision Making Process works"/>
        </div>
        <div v-else>
          <fieldset>
        <legend class="font">Decision Making Process</legend>
        <div class="radio" v-for="index in suggestions[committee.type].decisionProcess" :key="index">
          <label><input type="checkbox" name="decisionprocess" v-model="committee.decisionProcess" :value="index">{{index}}</label>
        </div>
        </fieldset>
        <label for="Decision">Describe More</label>
          <input type="text" class="form-control" id="Decision" v-model="decisionProcess"
         v-on:keyup.enter="addInputToArray('decisionProcess', decisionProcess)"
         placeholder="Describe how Decision Making Process works"/>
        </div>
      </div>

      <div v-if="committee.type == 2">
        <h5>Proposed List of Assistive Technologies</h5>
        <h5>Proposed Services</h5>
        <div class="form-group">
          <label class="font" >Assistive Technologies at the Resource Centre</label>
          <ul>
            <li v-for="(tech, index) in suggestions[committee.type].assistiveTech" :key="index">
              <label><input type="checkbox" name="assitiveTechSelected" v-model="assitiveTechSelected" >
                <div class="row">
                <div class="col-md-2">{{tech.name}}</div>
                <div class="col-md-2">{{tech.description}}</div>
                <div class="col-md-1">{{tech.cost}}</div>
                <div class="col-md-1">{{tech.quantity}}</div>
                <div class="col-md-2">{{tech.cost * tech.quantity}}</div>
                <div class="col-md-3">{{tech.dealers}}</div>
                <div class="col-md-1">{{tech.priority}}</div>
                </div>
              </label>
            </li>
          </ul>
        </div>

        <div>
          Phase 1
          <p>
          IMPORTANT: Note that the resource center does not need to provide all of these services.
          It will have to be a concerted effort across various departments of the college/university.
          We will help you specify the process of delivery for each of the services later.
          </p>
          <ul>

            <li>Personal and Family Guidance for students with Disabilities</li>
            <li>Inclusive exam accommodations</li>
            <li>Note-taking and in-class assistance options</li>
            <li>Accessible content services</li>
            <li>Teaching learning support</li>
            <li>Accessible infrastructure services</li>
          </ul>
        </div>
        <div class="nav-item">
          <router-link class="nav-link" to="/institute/accommodation" title="Accommodation">
            Use this link too setup Phase1
          </router-link>
        </div>
        <div>
          Phase 2
          <div>
            <label>
              <input type="checkbox" name="type" v-model="committee.services">
              Training Services: In Special Skills linked to student needs.
              These could be skills such as Screen Readers, LaTex, Orientation & Mobility etc for person with blindness,
              Remediation for Students with Learning Disabilities, Social Communication
              Training for Students with Autism, Assistive Technology Trainings.)
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="type" v-model="committee.services">
              Awareness Programs: For teachers of the college/university, students and community
              at large to build the idea of inclusion.
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="type" v-model="committee.services">
              Advocacy: As the centre becomes well established the centre can look at participating or
              initiating advocacy in the space of inclusion and accessibility particularly education
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="type" v-model="committee.services">
              R&D: The centre can also lead both social and technology research in the areas of inclusion and access.)
            </label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button class="btn btn-secondary" @click="downloadPDF">
      <img src="@/assets/icons/download.svg" alt="Download" placeholder="Download icon"> Download Constitution
    </button>
    <Constitution :committee="committee" :suggestions="suggestions" style="display:none;" ref="content"/>
  </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import jsPDF from 'jspdf';
import VuexplosionModal from './custom/VueModal.vue'
// import utils from '../utils';
import Constitution from './Constitution';

export default {
  name: 'Committee',
  props: ['committeeId'],
  components: {
    Constitution,
    VuexplosionModal
  },
  data() {
    return {
      showModal:false,
      showModalFirst:false,
      decisionProcess: '',
      scope: '',
      keywords: '',
      committee: {members: [], type: 1,scope: [], frequency:'',totalMembers:'', decisionProcess: [] },
      suggestions: {
        1: {
          name: ['Enabling Committee', 'Inclusion Committee', 'Diversity and Inclusion Committee'],
          term: ['1 year'],
          frequency: ['Twice a term'],
          members:[{
            Members:'Member Type',
            Number:'Member Number',
            Appointment:'Appointment Process'
          },{
            Members:'College Principal/University VC',
            Number:'1',
            Appointment:'Ex Officio Member'
          },{
            Members:'College/ University Controller of Examinations',
            Number:'1',
            Appointment:'Ex Officio Member'
          },{
            Members:'College/ University Dean Academics',
            Number:'1',
            Appointment:'Ex Officio Member'
          },{
            Members:'College/ University Librarian',
            Number:'1',
            Appointment:'Ex Officio Member'
          },{
            Members:'College/University Resource Centre for Students with Disabilities Head',
            Number:'1',
            Appointment:'Ex Officio Member'
          },{
            Members:'College/University Resource Centre for Students with Disabilities Staff',
            Number:'1 (In case the centre has a single staff then points 2 and 3 will combine to have a single member)',
            Appointment:'To be appointed by Principal/VC in consultation with Head of Resource Centre'
          },{
            Members:'College/University Faculty Representative',
            Number:'3-4',
            Appointment:'To be appointed by Principal/VC across various disciplines'
          },{
            Members:'Students with Disabilities Representatives',
            Number:'1 (representing the following disabilities on campus as present at the time 1.Blindness and Low vision 2.  Locomotor Disabilities 3.Hearing and Speech Impairment 4.Learning Disabilities 5.Other Cognitive Disabilities (ADHD, Autism and others))',
            Appointment:'To be appointed by Principal/VC in consultation with Head of Resource Centre. (Ideally from Second Year Degree college upwards. Also if the institute has a student inclusion body then at least 1 or 2 students with disabilities from that body should be nominated here to ensure connect and continuity between the student and management body)'
          }],
          totalMembers: [15],
          decisionProcess: [`The Enabling Committee will meet under the Chairmanship of the Principal /
            Vice Chancellor.`,
          `In absence of the Chairperson available for the meeting, Head of Support Centre will be the chair
            for the meeting.`,
          'Decisions of the committee will be taken based on mutual consensus.',
          'In case of lack of consensus final decision will be taken by the Principal/Vice Chancellor)'],
          scope: [`Set up, promote and advertise Inclusive admission policy,
            guidelines and systems within the college.`,
          'Set up, promote and advertise Inclusive examination policy and guidelines and systems within the college.',
          'Set up, promote and advertise Inclusive Infrastructure guidelines and facilities within the college.',
          `Set up, promote and advertise Inclusive on campus placement policy,
            guidelines and systems within the college.`,
          `Work towards making available accessible teaching learning resources and experiences to students
            with disabilities on campus.`,
          `Conducting training, sensitization and awareness programs, events and workshops on Inclusion
             within and outside campus.`,
          'Taking up cases of complaint related to Inclusion and related concerns.',
          'Responsible for implementation of any government equity projects/policies/guidelines within campus.',
          `The cell may constitute any other sub committees set up within the college to look at specific inclusion
            and accessibility needs.`,
          `Taking up any other activities to promote accessibility and inclusion for persons with disabilities
            (Student/staff) from time to time as the need may be.`]
        },
        2: {
          name: ['Resource Centre for Students with Disability',
            'Office of Learning Support',
            'Centre for Inclusion & Access'],
          term: [],
          frequency: [],
          totalMembers: [],
          decisionProcess: [],
          scope: [],
          assitiveTechSelected:[],
          assistiveTech: [{
            name: 'DAISY Forum Membership & Sugamya Pustakalaya Membership',
            description: '',
            cost: 5000,
            quantity: 1,
            dealers: 'DFI. To be processed through Saksham.(No other vendor)',
            priority: 'High'
          }, {
            name: 'Screen reader – a. NVDA with Indian adaptations (Indo-NVDA)',
            description: 'Open source screen reader with licensed text-to-speech voice',
            cost: 3500,
            quantity: 3,
            dealers: 'Saksham',
            priority: 'High'
          }, {
            name: 'Math Type',
            description: 'Necessary for Making Accessible STEM content',
            cost: 6000,
            quantity: 2,
            dealers: 'Design Science',
            priority: 'High'
          }, {
            name: 'Dolphin supernova version 15 or higher',
            description: 'Screen reader with magnifier',
            cost: 28500,
            quantity: 1,
            dealers:'https://yourdolphin.com/products/individuals/supernova-magnifier-screen-reader',
            priority: 'High'
          }, {
            name: 'Kurzweil OCR',
            description: 'English OCR',
            cost: 55000,
            quantity: 1,
            dealers: 'Karishma Enterprises, Shop4Specials (Any of these, so will need quotes)',
            priority: 'Low'
          }, {
            name: 'Hindi OCR',
            description: 'OCR with Hindi capability',
            cost: 15000,
            quantity: 1,
            dealers: 'Karishma Enterprises, Saksham, Sparsh Products (Any of these 3, so will need quotes)',
            priority: 'Medium (Depending on requirement)'
          }, {
            name: 'Regional Language OCR',
            description: 'OCR with regional language capability',
            cost: 15000,
            quantity: 1,
            dealers: 'Karishma Enterprises, Saksham, Sparsh Products (Any of these 3, so will need quotes)',
            priority: 'Medium (Depending on requirement)'
          }, {
            name: 'Low Vision Aids - Ruby 7 HD',
            description: 'Low vision aids',
            cost: 75000,
            quantity: 1,
            dealers: 'Karishma Enterprises(Sole Distributor)',
            priority: 'Medium'
          }, {
            name: 'Low Vision Aids - Bonita camera mouse or similar',
            description: 'Low vision aids',
            cost: 8000,
            quantity: 1,
            dealers: 'Karishma Enterprises, Sparsh Products (Any of these 2, so will need quotes)',
            priority: 'Medium'
          }, {
            name: 'Big Talking Calculator',
            description: 'Calculations',
            cost: 1000,
            quantity: 1,
            dealers: 'Saksham',
            priority: 'Low'
          }, {
            name: 'Talking Scientific Calculator',
            description: 'Audio Graphing as also a Plain Scientific Calculator Available ',
            cost: null,
            quantity: 1,
            dealers: 'Orbit Research ',
            priority: 'Low'
          }, {
            name: 'DAISY Players',
            description: 'Daisy Player E-10 or E-5 (E-10 preferred)',
            cost: 10000,
            quantity: 1,
            dealers: 'Saksham',
            priority: 'Low'
          }, {
            name: 'Sonic Labeller',
            description: 'Audio Labeller',
            cost: 4000,
            quantity: 1,
            dealers: 'Saksham',
            priority: 'Low'
          }, {
            name: 'Braille Me',
            description: 'Indian made Refreshable braille display',
            cost: 30000,
            quantity: 1,
            dealers: 'Innovision',
            priority: 'Low'
          }, {
            name: 'Miscellaneous (Parchment Paper, Rubber Mat)',
            description: 'Tactile Diagram',
            cost: 5000,
            quantity: 1,
            dealers: 'All India Plastic and XRCVC',
            priority: 'High'
          }, {
            name: 'Braille Slate & Stylus',
            description: 'To write braille',
            cost: 100,
            quantity: 1,
            dealers: 'Saksham',
            priority: 'High'
          }, {
            name: 'Perkins Brailler',
            description: 'To write braille with six key entry',
            cost: 44000,
            quantity: 1,
            dealers: 'Indic Accessibility Solutions, Sparsh Products',
            priority: 'Low'
          }, {
            name: 'SmartCane',
            description: 'To identify the obstacle above knee level',
            cost: 3675,
            quantity: 1,
            dealers: 'Saksham',
            priority: 'Low'
          }, {
            name: 'Talking Table Clock',
            description: 'Table Clock',
            cost: 700,
            quantity: 1,
            dealers: 'Saksham',
            priority: 'Low'
          },
          ]
        },
        3: {
          name: ['Student Inclusion Cell', 'Diversity & Inclusion Cell'],
          term: ['Annual', 'co-terminus with the academic year'],
          frequency: ['Minimum once a month'],
            members:[{
            Members:'Member Type',
            Number:'Member Number',
            Appointment:'Appointment Process'
          },{
            Members:'Staff Representative 1: College Resource Centre for Students with Disabilities Head',
            Number:'1',
            Appointment:'Ex Officio Member'
          },{
            Members:'Staff Representative 2: College Resource Centre for Students with Disabilities Staff',
            Number:'1 (In case the centre has at any point a single staff then points 1 and 2 will combine to have a single member and one additional staff member from college Inclusion Cell will be nominated.)',
            Appointment:'To be appointed by Principal in consultation with Head of Resource Centre'
          },{
            Members:'Student Representatives',
            Number:'10-15 (To always aim at keeping a balance of students with and without disabilities and also covering different disabilities and mix of years. All students to be of senior college only.)',
            Appointment:'To be selected by a panel constituting of the 2 staff representatives and 2 students representatives selected by the staff representatives from the outgoing student inclusion cell.'
          }
          ],
          totalMembers: [12],
          decisionProcess: [`The Student Inclusion Cell will meet under the Co-Chairmanship of the Student
           Head of the SIC and the Head of the College Resource Centre for Students with Disabilities.`,
          `In absence of either of the Chairpersons not being available for the meetings any other
            member may chair the meeting.`,
          `Decisions of the cell will be taken based on mutual consensus. In case of lack of consensus
            the final decision taken by the Co-Chairs will be final.`,
          `In case of a dispute between the Co-Chairs decision of the Head of College Resource Centre
            for Students with Disabilities will be final.`],
          scope: [`College Events Accessibility: Work towards building and promoting of inclusion and
            accessibility across all college events.`,
          `Events to Promote Inclusion: Conceptualize and conduct events, workshops from time to
            time to promote awareness, inclusion on campus for all college stakeholders.`,
          `Examination Systems: Work towards writer coordination and other exam related needs for
            students with disabilities.`,
          `Grievance Redressal/Support: Set up and facilitate an effective grievance redressal
            and support mechanisms within the student community related to issues of inclusion and access`,
          `Accessibility: Ideate and innovate on creating solutions on accessibility.
            Be part of R&D on accessibility.`,
          'PR & Media: Work on various PR and Media needs of the SIC.',
          `Taking up any other activities to promote accessibility and inclusion for persons with disabilities
            (Student/staff) from time to time as the need may be.]`]
        },
        4:{}
      }
    };
  },
  computed: {
    ...mapGetters({
      institute: 'institute',
      getFilteredUsers: 'getFilteredUsers',
    })
  },
  mounted() {
    if (this.committeeId) {
      this.committee = this.$store.getters.committee(this.committeeId);
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.$store.dispatch('addCommittee', this.committee);
    },
    queryForUsers() {
      this.$nextTick(() => {
        if (this.keywords.length > 2) {
          this.$store.dispatch('getUsers', { search: this.keywords
          // ,instituteId: utils.getInstituteId(),
          });
        }
      });
    },
    addMember(user) {
      // TODO: Avoid dubplicate adding of same user
      this.committee.members = [...this.committee.members, user];
    },
    removeMember(user) {
      this.committee.members = this.committee.members.filter(x => x.id !== user.id);
    },
    downloadPDF() {
      const doc = new jsPDF();
      const contentHtml = this.$refs.content.$el.innerHTML;
      doc.fromHTML(contentHtml, 15, 15, {
        // width: 170
      });
      doc.save('constitution-download.pdf');
    },
    addSuggestion(key, suggestion, valueType = 'single') {
      // e.preventDefault();
      let value = suggestion;
      if (valueType === 'multiple') {
        value = this.committee[key];
        value = value ? value.push(suggestion) : [suggestion];
      }
      this.$set(this.committee, key, value);
    },
    addInputToArray(key, suggestion) {
      let value = suggestion;
      value = this.committee[key];
      value = Array.isArray(value) ? value.push(suggestion) : [suggestion];
      this.suggestions[this.committee.type][key].push(suggestion);
      this.$set(this.committee, key, value);
    },
    openModal() {
        this.showModalFirst=!this.showModalFirst;
      },
    onShowModal (){
        this.showModal=!this.showModal
      },
    closeModal() {
      this.showModal=false;
      this.showModalFirst=false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul{
  padding: 0px;
}
ul.suggestions li {
  cursor: pointer;
  display: inline-block;
  padding: 0 20px 0 0;
}
a {
  display: block;
  text-decoration: none;
}
/*adding effect when the mouse is hovered over list item*/
.suggestions li a:hover {
  color: #b1e0de;
}
/*moving it slightly toware right when hovered*/
.suggestions li:hover {
// -webkit-transform: translateX(20px);
//    -moz-transform: translateX(20px);
//     -ms-transform: translateX(20px);
//      -o-transform: translateX(20px);
//         transform: translateX(20px);
//  padding: 0 20px;
}
/*now first we will hide the suggestion list*/
.suggestions li {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}
/*and make the suggestion reappear when user focus on search field*/
input[type="search"]:focus + .suggestions li, input[type="text"]:focus + .suggestions li {
  height: 20px;
}

textarea:focus + .suggestions li {
  height: 100px;
}
.font{
  font-size: 20px;
  font-weight: 200;
}
img {
  height: 18px;
  width:18px;
}
ul{
  list-style: none;
}
.btn-primary {
    color: #fff;
    background-color: #076bd6;
    border-color: #076bd6;
}
.form-control {
  margin-bottom: 0.5rem;
}
</style>
