<template>
  <div class="container">
    <form class="form" ref="content">
      <h4>{{ committee.name }}</h4>
     
      <!--div class="form-group">
        <label for="name">Committe name: {{committee.name}}</label>
      </div -->
      <div class="form-group font">
        <div v-if="committee.type==1">
          (General committee)
        </div>
        <div v-if="committee.type==2">
          (Disability Resource Center)
        </div>
        <div v-if="committee.type==3">
          (Student committee)
        </div>
        <div v-if="committee.type==4">
         (Other)
        </div>
      </div>
      <div class="form-group">
        <label for="constitution" class="font">Consitution:</label>
        {{committee.constitution}}
      </div>
      <div class="form-group">
        <label for="description" class="font">Scope of work:</label>
        <div class="radio" v-for="index in committee.scope" :key="index">
          <label>{{index}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="term" class="font">Committe term:</label>
        {{committee.term}}
      </div>
      <div class="form-group">
        <label for="frequency" class="font">Meeting frequency:</label>
        {{committee.frequency}}
      </div>
      <div class="form-group">
        <label for="decisionProcess" class="font">Decision Making Process:</label>
        <div class="radio" v-for="index in committee.decisionProcess" :key="index">
          <label>{{index}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="totalMembers" class="font">Total Members in committee:</label>
        {{committee.totalMembers}}
      </div>
      <div v-if="committee.type == 2">
        <div class="form-group">
          <label class="font" >Assistive Technologies at the Resource Centre:</label>
          <table>
            <tr class="row" v-for="(tech,index) in suggestions[committee.type].assistiveTech" :key="index">
              <td class="col-md-2">{{tech.name}}</td>
              <td class="col-md-2">{{tech.description}}</td>
              <td class="col-md-1">{{tech.cost}}</td>
              <td class="col-md-2">{{tech.quantity}}</td>
              <td class="col-md-1">{{tech.cost * tech.quantity}}</td>
              <td class="col-md-2">{{tech.dealers}}</td>
              <td class="col-md-2">{{tech.priority}}</td>
            </tr>
          </table>
        </div>

        <div>
          Phase 1
          <p>
          IMPORTANT: Note that the resource center does not need to provide all of these services.
          It will have to be a concerted effort across various departments of the college/university.
          We will help you specify the process of delivery for each of the services later.
          </p>
          <ul>
            <li>Personal and Family Guidance for students with Disabilities</li>
            <li>Inclusive exam accommodations</li>
            <li>Note-taking and in-class assistance options</li>
            <li>Accessible content services</li>
            <li>Teaching learning support</li>
            <li>Accessible infrastructure services</li>
          </ul>
        </div>
        <div class="nav-item">
          <router-link class="nav-link" to="/institute/accommodation" title="Accommodation">
            Use this link too setup Phase1
          </router-link>
        </div>
        <div>
          Phase 2
          <div v-for="(services, index) in committee.services" :key="index">
            {{services}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <ul v-if="committee && committee.members.length" class="list-inline">
          <li v-for="user in committee.members" :key="user.id" class="list-inline-item row">
            <div class="col-sm-5"> {{ user.name }} {{ user.email }} </div>
            <div class="col-sm-2">
              {{user.title}}
            </div>
          </li>
        </ul>
      </div>
    </form>
    <router-link class="nav-link" :to="'/institute/committee/new'" title="add new committee">
     <button class="btn btn-primary">Edit</button>
   </router-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Constitution',
  props: {
    suggestions: {
      type: Object
    },
    committee: {
      type: Object,
    default: () => { return { members: [2], type: 1, scope: [], decisionProcess: [] }; }
    }
  },
  data() {
    return {
      scope: '',
      decisionProcess: ''
    };
  },
  methods:{
    removeCom(){
    }
  }
  /*computed: {
    ...mapGetters({
    })
  }*/
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.font{
  font-size: 20px;
  font-weight: 200;
}
</style>
