<template>
  <div class="container">

    <h4>Disabilities supported by the Institute
     <!--img src="@/assets/icons/icons8-info.svg" @click="openModal"--></h4>
     <!--VuexplosionModal v-show="showModal" @close="closeModal">
      <div slot="title">Disabilities</div>
       <div slot="body">
         <p class="text-left">The Rights of Persons with Disabilities Act, 2016 lists 21 disabilities, and we would strongly recommend you to support all disabilities (the services required by one disability often significantly overlap with the others). However, if you would like to start supporting specific disabilities first, please check them here.</p>
       </div>
     </VuexplosionModal-->

     <p class="text-left">The Rights of Persons with Disabilities Act, 2016 lists 21 disabilities, and we would strongly recommend you to support all disabilities (the services required by one disability often significantly overlap with the others). However, if you would like to start supporting specific disabilities first, please check them here.</p>
   <form>
      <div class="form-group">
          <label for="disabilityType"><b>Please check the disability supported by you</b></label>
          <div class="row">
            <div class="col-sm-6" v-for="disability in getDisabilityTypes" :key="disability">
              <label aria-label="Disability Types">
              <input type="checkbox" v-model="institute.disabilityTypes"  :id="disability" :value="disability" />
              {{ disability }}</label>
            </div>
          </div>
        </div>
      <button type="submit" class="btn btn-primary" @click="handleSubmit">Submit</button>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuexplosionModal from './custom/VueModal';
export default {
  name: 'Disability',
  components: {
    VuexplosionModal
  },
  data() {
    return {
      showModal:false
    };
  },
  computed: mapGetters({
    institute: 'institute',
    getDisabilityTypes: 'getDisabilityTypes'
  }),
  mounted() {
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.$store.dispatch('updateInstitute', this.institute);
    },
    openModal() {
      this.showModal = !this.showModal;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div{
  text-align: left;
}
img {
  width:18px;
  height:18px;
}
.btn-primary {
    color: #fff;
    background-color: #076bd6;
    border-color: #076bd6;
}
</style>
