<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <div class="row">
      <p class="text-left"> India accounts for over 26 million Persons with Disabilities (2.21% of country’s
      population). Of the same 44.97% is in the age group of 0-29, with a huge section of the disabled
      population in the age group that accesses education services. (Census of India, 2011) </p>
      <p class="text-left"> Rights of Persons with Disabilities Act, 2016 in India mandates a 5% reservation
      for students with disabilities. </p>
      <p class="text-left">Yet lack of financial resources and skilled manpower is making institutes of Higher
      Education struggle in delivering inclusive education services to students with disabilities (SwD). </p>
      <p class="text-left"> The I-Stem-XRCVC Inclusive Higher Education Portal is here to make your institute
      take the next leap to high quality effective and efficient inclusive education services at the click of
      a button! </p>
      <p class="text-left"> Explore any of your following links to make the most of technology to design
      effective inclusive education solutions! </p>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link class="nav-link" to="/institute/" title="Update Profile">Institute Profile</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/institute/staff" title="Staff">Staff</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/institute/committee" title="Committee">Committee</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/institute/accommodation" title="Accommodation">Accommodation</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/institute/onboarding" title="Onboarding Form">Onboarding Form</router-link>
        </li>
         <li class="nav-item">
          <router-link class="nav-link" to="/institute/request" title="Request Instance Form">Request Instance Form</router-link>
        </li>
      </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      msg: 'Welcome to Istem!'
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
    color: #097946e6;
}
</style>
