<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link class="nav-link tour-step-1" to="/institute/" title="Update Profile">
            Institute Profile
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link tour-step-2" to="/institute/staff" title="Staff">
            Staff
          </router-link>
        </li>
      <li class="nav-item">
          <router-link class="nav-link tour-step-3" to="/institute/committee" title="Committee">
            Committee
          </router-link>
        </li>
          <li class="nav-item">
          <router-link class="nav-link tour-step-4" to="/institute/disability" title="Supported Disabilites">
           Supported Disabilities
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link tour-step-5" to="/institute/accommodation" title="Accommodation">
            Accommodation
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link tour-step-6" to="/institute/onboarding" title="Onboarding Form">
            Onboarding Form
          </router-link>
        </li>
         <li class="nav-item">
          <router-link class="nav-link tour-step-7" to="/institute/request" title="Request Instance Form">
            Request Instance Form
          </router-link>
        </li>
      </ul>
    </nav>
     <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Institute',
  data() {
    return {
    };
  },
  computed: mapGetters({
    institute: 'institute'
  }),
  created() {
    this.$store.dispatch('getInstitute');
  },
  mounted() {
    this.$tours['Tour'].nextStep();
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.54);
}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{
  color: rgba(0, 0, 0, 0.72);
}
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

</style>
