<template>
  <div class="container">
  <p class="text-left">Welcome! India’s specialized resources in delivering inclusive education are extremely scarce
    and difficult to find. Indian Higher Education is also perhaps themost resource starved and accounts for one of the
     highest student-teacher ratios.</p>
   
    <b-form class="form" @submit="handleSubmit">
      <b-form-group label="Institute's name *" label-for="uniName">
        <b-form-input type="text" id="uniName" v-model="institute.name"
          placeholder="Enter Institute's name" required>
        </b-form-input>
      </b-form-group>
      <b-form-group label="Enter communication email*" label-for="email1">
        <b-form-input type="email" id="email1" aria-describedby="email-description"
          v-model="institute.email" placeholder="Enter communication email address" required>
        </b-form-input>
        <p id="email-description"></p>
      </b-form-group>

      <b-form-group label="Website*" label-for="website">
        <b-form-input type="text" id="website" placeholder="Website"
        v-model="institute.website" required></b-form-input>
      </b-form-group>

      <b-form-group label="Contact Number*" label-for="contact">
        <b-form-input type="text"  id="contact" placeholder="Contact number"
        v-model="institute.number" required></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import utils from '../utils';

export default {
  name: 'InstituteProfile',
  data() {
    return {
      keywords: ''
    };
  },
  computed: mapGetters({
    institute: 'institute'
  }),

  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (utils.getInstituteId()) {
        this.$store.dispatch('updateInstitute', this.institute);
      } else {
        this.$store.dispatch('addInstitute', this.institute);
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-primary {
    color: #fff;
    background-color: #076bd6;
    border-color: #076bd6;
}
</style>
