<template>
  <div class="container">
    <div class="row">
      <form class="form col-md-7" ref="content"  @submit="handleSubmit">
        <h4>Create Student's Onboarding Form</h4>
        <div class="form-group">
          <label for="name">Form name</label>
          <input type="text" class="form-control" id="name" v-model="onboarding.name"
          placeholder="Enter form name" required :readonly="isTrue">
        </div>
        <div class="form-group">
          <label for="procedure">Procedure</label>
          <input type="text" class="form-control" id="procedure" v-model="onboarding.procedure"
          placeholder="Enter application procedure" required :readonly="isTrue">
        </div>

        <!--b-card no-body-- >
          <!--b-tabs pills card vertical-->
            <!--b-tab title="Mandotary Fields" active-->
              <!--b-card-text-->
              <div class="form-group" v-for="(field, index) in onboarding.mandatoryFields" :key="index">
                <label class="label">
                <input class="input form-control" type="text" placeholder="Define field name"  v-model="field.name" :readonly="isTrue">
                </label>
                <label class="label">Short Description
                <input class="input form-control" type="text" placeholder="Add short description text"
                  v-model="field.shortDescription" :readonly="isTrue">
                </label>
                <!--div v-if="field.type== 'checkbox'">
                  <div class="col-sm-6" v-for="option in field.options" :key="option">
                    <input type="checkbox" v-model="option.select" />
                    <label>{{ option }}</label>
                  </div>
                </div-->
                <div class="row">
                  <div class="col-sm-4" v-if="field.required">
                    *Required:
                  </div>
                  <!--div class="col-sm-6">
                    Field Type: {{field.type}}
                  </div-->
                  <!--div class="col-sm-2">
                    <button type="button" class="btn col-sm-1" title="Remove this field" @click="removeField(index)">
                      <img src="@/assets/icons/delete.svg" placeholder="Add icon" title="Remove this field"
                      @click="removeField(index)">
                    </button>
                  </div-->
                </div>
              </div>
              </b-card-text>
            <!--/b-tab-->
            <!--b-tab title="Current Status Fields"-->
              <b-card-text>
              <div class="form-group" v-for="(field, index) in onboarding.currentStatusFields" :key="index">
              <label class="label">
                <input class="input form-control" type="text" placeholder="Define field name" v-model="field.name" :readonly="isTrue">
              </label>
              <label class="label">Short Description
              <input class="input form-control" type="text"  placeholder="Add short description text"
                v-model="field.shortDescription" :readonly="isTrue">
              </label>
              <div v-if="field.type== 'checkbox'">
                <label class="label">
                <textarea class="input form-control" v-model="field.options" :readonly="isTrue"></textarea></label>
              </div>
              <div class="row">
                <div class="col-sm-4" v-if="field.required">
                  *Required:
                </div>
                <!--div class="col-sm-6">
                  Field Type: {{field.type}}
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn col-sm-1" title="Remove this field" @click="removeField(index)">
                    <img src="@/assets/icons/delete.svg" placeholder="Add icon" title="Remove this field"
                    @click="removeField(index)">
                  </button>
                </div-->
              </div>
              </div>
              </b-card-text>
            <!--/b-tab-->


              <div class="form-group" v-for="(field, index) in onboarding.dynamicFields" :key="index">
              <label class="label">
                <input class="input form-control" type="text" placeholder="Define field name" v-model="field.name" :readonly="isTrue">
              </label>
              <label class="label">Short Description
              <input class="input form-control" type="text" placeholder="Add short description text"
                v-model="field.shortDescription" :readonly="isTrue">
              </label>
              <div v-if="field.type== 'checkbox'">
                <textarea class="input form-control" v-model="field.options"></textarea>
              </div>
                <div class="row">
                <div class="col-sm-4" v-if="field.required">
                  *Required:
                </div>
              </div>
          <div v-if="!isTrue">
              <div class="row form-group">
                <div class="form-group form-check col-sm-4">
                  <input class=" form-check-input" id="makeMandatory" type="checkbox" v-model="field.required">
                  <label class="form-check-label" for="makeMandatory">Required field</label>
                </div>
                <div class="col-sm-7 row">
                  <label class="col-sm-5 col-form-label" for="fieldType">Field type</label>
                  <select class="form-control col-sm-6"id="fieldType" v-model="field.type">
                    <option v-for="(t, i) in types" :key="i" :value="t.type"> {{t.name}} </option>
                  </select>
                </div>
                <button type="button" class="btn col-sm-1" title="Remove this field" @click="removeField(index)">
                  <img src="@/assets/icons/delete.svg" placeholder="Add icon" title="Remove this field"
                    @click="removeField(index)">
                </button>
              </div>
            </div>
          </div>
          <div v-if="!isTrue">
            <button type="button" class="btn" title="Add fields as per your choice" @click="addNewField">
              Add new field<img src="@/assets/icons/add.svg" alt="add field" placeholder="Add icon">
            </button>
             <button type="submit" class="btn btn-primary">Submit</button>
          </div>
            <!--/b-card-text-->
            <!--/b-tab-->
          <!--/b-tabs-->
        <!--/b-card-->
        <div v-if="onboardingId && setEdit()">
        <button type="button" class="btn btn-primary" @click="editForm">Edit</button>
      </div>
      </form>

      <div class="col-md-5 dynamic-form-preview">
        <h4> Form preview (For Students) </h4>
        <DynamicForm :dynamicFields="onboarding.mandatoryFields" :data="{}"/>
        <DynamicForm :dynamicFields="onboarding.currentStatusFields" :data="{}"/>
        <h4> Select the disability you have </h4>
        <div v-for="field in supportedDisabilities()" :key="field">
          <div class="form-group">
            <label class="input">
              <input class="type" type="checkbox"/>
              {{ field }}
            </label>
          </div>
        </div>
        <label class="input" for="textBox">
        <h5>Any other Medical condition that the College should know about? Please specify: </h5>
        </label>
          <input class="type" id="textBox" type="text"/>

        <label for="uploadFile">
        <h5>Upload a copy of your disability certificate here</h5>
      </label>
         <div class="dropbox">
          <input type="file" id="uploadFile" multiple accept="image/*" class="input-file">
        </div>
        <label for="uplpoad" class="form-group">Email this directly to the college/university without uploading to I-Stem servers
        <input type="checkbox" name="certificate" id="uplpoad"></label>
        <h4> Select the accommodations applicable to you </h4>
        <div v-for="(serviceType, sName) in accommodations" :key="sName" v-if="!isEmpty(serviceType)">
          <h5>{{getServiceTypes[sName]}}</h5>
          <div v-for="(disability, disabilityName) in serviceType" :key="disabilityName">

            <h5>{{disabilityName}}</h5>
            <div v-for="(type, typeName) in disability" :key="typeName">
              <h6>{{typeName}}</h6>
              <div class="dynamic-form" v-for="field in type" :key="field.name">
                <div class="form-group">
                  <label class="input">
                    <input class="type" type="checkbox" v-model="field.value"/>
                    {{ field.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <DynamicForm :dynamicFields="onboarding.dynamicFields" :data="{}"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { DynamicForm } from './custom/DynamicForm';

export default {
  name: 'Onboarding',
  props: ['onboardingId'],
  components: {
    DynamicForm
  },
  data() {
    return {
      types: [{ name: 'Short text', type: 'text' },
        { name: 'Paragraph', type: 'textarea' },
        { name: 'Number', type: 'number' },
        { name: 'Checkbox', type: 'checkbox' }],
       isTrue:false,
    };
  },
  computed:{
    ...mapGetters({
    institute:'institute',
    onboarding: 'onboarding',
    accommodations: 'getSelectedAccommodationsTree',
    getServiceTypes: 'getServiceTypes',
    disabilityTypes: 'disabilityTypes'
    }),
  },
  mounted() {
    if (this.onboardingId) {
      this.$store.dispatch('getOnboarding', this.onboardingId);
    }
    this.$store.dispatch('getAccommodations');
    // this.$store.watch(state => {
    //   return this.$store.state.institute; // could also put a Getter here
    // }, (newValue, oldValue) => {
    //   // something changed do something
    //   this.$store.dispatch('getAccommodations', { id__in: this.institute.availableAccommodationIds });
    // }, { deep: false });

    // this.onboarding.mandatoryFields.push({ type: 'checkbox',
    //   name: 'Disability Type',
    //   shortDescription: '',
    //   required: true,
    //   options: this.disabilityTypes });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.onboardingId) {
        this.$store.dispatch('editOnboarding', this.onboardingId);
      } else {
        this.$store.dispatch('addOnboarding');
        }
      },
    addNewField() {
      this.$store.commit('addOnboardingField', {
        type: 'text',
        name: '',
        shortDescription: '',
        required: true
      });
    },
    removeField(index) {
      this.$store.commit('removeOnboardingField', index);
    },
    supportedDisabilities() {
      return this.disabilityTypes.filter(d => this.institute.disabilityTypes.includes(d));
    },
    isEmpty(obj) {
      return Object.keys(obj).length === 0 && obj.constructor === Object;
    },
    editForm() {
      this.isTrue=false;
      this.setEdit=()=>false;
    },
    setEdit() {
      this.isTrue=true;
      return true
    },
    stringSplit(field){
      this.field.options = "";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.form {
  max-width: 100%;
}
.dynamic-form-preview {
  background: rgba(0, 0, 0, 0.03);
  text-align: left;
}
.btn-primary {
    color: #fff;
    background-color: #076bd6;
    border-color: #076bd6;
}
.label {
  display: block;
  margin-bottom: 0;
}
.dropbox {
  margin-bottom: 0.5rem;
}
</style>
