<template>
  <div class="container">
    <h4>Created Onboarding forms
     <img src="@/assets/icons/icons8-info.svg" alt="info" class="size" @click="openModal"></h4>
     <VuexplosionModal v-show="showModal" @close="closeModal">
      <div slot="title">Onboarding Form</div>
       <div slot="body">
         <p class="text-left">Based on the systems that you have selected above, this section enables you to make your choices of which accommodation services are you willing to start offering to students on campus. This section is aimed at helping you design your Accommodation form for students with disabilities which would enlist all the services that the institute is ready to offer. Our suggestions are based on experiences of institutes in India and abroad as also keeping in the spirit of the Rights of Persons with Disabilities Act, 2016. If you have any specific state level government /University circular in this regard you would have to incorporate the requirements from the same.</p>
       </div>
     </VuexplosionModal>
    <ul class="nav nav-pills">
      <li class="nav-item" v-for="onboarding in onboardings" :key="onboarding.id">
        <router-link  :to="'/institute/onboarding/'+ onboarding._id" :title="'view form ' + onboarding.name">
          {{ onboarding.name }} </router-link>
      </li>
      <li class="nav nav-pills">
        <router-link class="nav-link" :to="'/institute/onboarding/new'" title="Create new onboarding form">
          <img src="@/assets/icons/edit.svg" alt="create/edit" placeholder="Edit icon">
        </router-link>
      </li>
    </ul>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuexplosionModal from './custom/VueModal';


export default {
  name: 'OnboardingList',
  components: {
    VuexplosionModal
  },
  data() {
    return {
      showModal: false
    };
  },
  computed: mapGetters({
    onboardings: 'onboardings'
  }),
  mounted() {
    this.$store.dispatch('getOnboardings');
  },
  methods: {
    openModal() {
      this.showModal = !this.showModal;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.size {
  width:18px;
  height:18px;
}
</style>
