<template>
  <div class="container">
    <h4>Created Request Instance forms
     <img src="@/assets/icons/icons8-info.svg" class="size" @click="openModal" ></h4>
     <VuexplosionModal v-show="showModal" @close="closeModal">
      <div slot="title">Request Instance Form</div>
       <div slot="body">
         <p class="text-left">This section is...</p>
       </div>
     </VuexplosionModal>
    <ul class="nav nav-pills">
      <li class="nav-item" v-for="request in requests" :key="request.id">
        <router-link  :to="'/institute/request/'+ request._id" :title="'view form ' + request.name">
          {{ request.name }} 
        {{request.procedure}} </router-link>
        
      </li>
      <li class="nav nav-pills">
        <router-link class="nav-link" :to="'/institute/request/new'" title="Create new Request Instance form">
          <img src="@/assets/icons/edit.svg" placeholder="Edit icon">
        </router-link>
      </li>
    </ul>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuexplosionModal from './custom/VueModal.vue'


export default {
  name: 'RequestFormList',
  components:{
    VuexplosionModal
  },
  data() {
    return {
      showModal:false
    };
  },
  computed: mapGetters({
    requests: 'requets'
  }),
  mounted() {
    this.$store.dispatch('getServiceRequestList');
  },
  methods:{
    openModal() {
        this.showModal=!this.showModal;
      },
    closeModal() {
      this.showModal=false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.size {
  width:18px;
  height:18px;
}

</style>
