<template>
  <div class="container">
    <div class="row">
    <form class="form col-md-7" ref="content">
      <h4>Create Student's Request Instance Form</h4>
       <div class="form-group">
          <label for="name">Form name</label>
          <input type="text" class="form-control" id="name" v-model="request.name"
          placeholder="Enter form name">
        </div>
        <div class="form-group">
          <label for="procedure">Procedure</label>
          <input type="text" class="form-control" id="procedure" v-model="request.procedure"
          placeholder="Enter application procedure">
        </div>
        
        <!--b-card no-body -->
          <!--b-tabs pills card vertical-->
            <!--b-tab title="Mandotary Fields" active-->
              <b-card-text>
              <div class="form-group" v-for="(field, index) in request.mandatoryFields" :key="index">
                <input class="input form-control" type="text" placeholder="Define field name" v-model="field.name">
                <input class="input form-control" type="text" placeholder="Add short description text"
                  v-model="field.shortDescription">
                <!--div v-if="field.type== 'checkbox'">
                  <div class="col-sm-6" v-for="option in field.options" :key="option">
                    <input type="checkbox" v-model="option.select" />
                    <label>{{ option }}</label>
                  </div>
                </div-->
                <div class="row">
                  <div class="col-sm-4" v-if="field.required">
                     *Required
                  </div>
                  <!--div class="col-sm-6">
                    Field Type: {{field.type}}
                  </div-->
                  <div class="col-sm-2">
                    <!--button type="button" class="btn col-sm-1" title="Remove this field" @click="removeField(index)">
                      <img src="@/assets/icons/delete.svg" placeholder="Add icon" title="Remove this field"
                      @click="removeField(index)">
                    </button-->
                  </div>
                </div>
              </div>
              </b-card-text>
            <!--/b-tab-->
            <!--b-tab title="Current Status Fields"-->
              <b-card-text>
              <div class="form-group" v-for="(field, index) in request.approvedFields" :key="index">
              <input class="input form-control" type="text" placeholder="Define field name" v-model="field.name">
              <input class="input form-control" type="text" placeholder="Add short description text"
                v-model="field.shortDescription">
              <!--div v-if="field.type== 'checkbox'">
                <textarea class="input form-control" v-model="field.options"></textarea>
              </div-->
              <div class="row">
                <div class="col-sm-4" v-if="field.required">

                  *Required
                </div>
                <!--div class="col-sm-6">
                  Field Type: {{field.type}}
                </div-->
                <!--div class="col-sm-2">
                  <button type="button" class="btn col-sm-1" title="Remove this field" @click="removeField(index)">
                    <img src="@/assets/icons/delete.svg" placeholder="Add icon" title="Remove this field"
                    @click="removeField(index)">
                  </button>
                </div-->
              </div>
              </div>
              </b-card-text>
            <!--/b-tab-->

            <!--b-tab title="Add More Fields"-->
            <b-card-text>
              <div class="form-group" v-for="(field, index) in request.dynamicFields" :key="index">
              <input class="input form-control" type="text" placeholder="Define field name" v-model="field.name">
              <input class="input form-control" type="text" placeholder="Add short description text"
                v-model="field.shortDescription">
              <div v-if="field.type== 'checkbox'">
                <textarea class="input form-control" v-model="field.options"></textarea>
              </div>
              <div class="row form-group">
                <div class="form-group form-check col-sm-4">
                  <input class=" form-check-input" type="checkbox" v-model="field.required">
                  <label class="form-check-label">Required field</label>
                </div>
                <div class="col-sm-7 row">
                  <label class="col-sm-5 col-form-label" for="procedure">Field type</label>
                  <select class="form-control col-sm-6" v-model="field.type">
                    <option v-for="(t, i) in types" :key="i" :value="t.type"> {{t.name}} </option>
                  </select>
                </div>
                <button type="button" class="btn col-sm-1" title="Remove this field" @click="removeField(index)">
                  <img src="@/assets/icons/delete.svg" placeholder="Add icon" title="Remove this field"
                    @click="removeField(index)">
                </button>
              </div>
            </div>
            <button type="button" class="btn" title="Add fields as per your choice" @click="addNewField">
              Add new field<img src="@/assets/icons/add.svg" placeholder="Add icon">
            </button>
            </b-card-text>
            <!--/b-tab-->
          <!--/b-tabs-->
        <!--/b-card-->



      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

     <div class="col-md-5 dynamic-form-preview">
        <h4> Form preview (For Students) </h4>
        <DynamicForms :dynamicFields="request.mandatoryFields" :data="{}"/>
         <h4> Provide us the details of the services needed by you </h4>
        <DynamicForms :dynamicFields="request.approvedFields" :data="{}"/>
        <DynamicForms :dynamicFields="request.dynamicFields" :data="{}"/>
      </div>


  </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import {DynamicForms} from './custom/DynamicForm.vue'

export default {
  name: 'RequestInstance',
  components:{
    DynamicForms
  },
  data() {
    return {
       types: [{ name: 'Short text', type: 'text' },
        { name: 'Paragraph', type: 'textarea' },
        { name: 'Number', type: 'number' },
        { name: 'Checkbox', type: 'checkbox' }],
    };
  },
  computed: mapGetters({
   request:'request'
  }),
 mounted() {
    if (this.requestId) {
      this.$store.dispatch('getServicerequest', this.onboardingId);
    }
     this.$store.dispatch('getAccommodations');
  },
  methods: {
    /*handleSubmit(e) {
      e.preventDefault();
      if (this.requestId) {
        this.$store.dispatch('editRequest', this.requestId);
      } else {
        this.$store.dispatch('addRequest');
      }
    },
    */
     addNewField() {
      this.$store.commit('addRequestField', {
        type: 'text',
        name: '',
        shortDescription: '',
        required: true
      });
    },
    removeField(index) {
      this.$store.commit('removeRequestField', index);
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.form {
  max-width: 100%;
}
.dynamic-form-preview {
  background: rgba(0, 0, 0, 0.03);
  text-align: left;
}


</style>
