<template>
  <div class="container">
    <h4>Your Organisation Chart</h4>
    <b-form class="form">
      <b-form-group label="Create your orgnisation chart" label-for="addMember">
       <b-form-input type="email"  id="addMember"  class="form-control" v-model="searchUser" v-on:keyup="queryForUsers"
          placeholder="Search user's email to add">
        </b-form-input>
      </b-form-group>
      <div v-if="getFilteredUsers.length == 0 && searchUser.length>5">
        <small> Didn't find, Invite them to Istem using valid email</small>
        <b-button type="button" class="btn btn-primary" :class="{disabled:isEmailValid()}" @click="!isEmailValid() && inviteUser()">Invite user
        </b-button>
      </div>
      <div v-if="searchUser.length>3">
      <ul class="suggestions">
        <li v-for="user in getFilteredUsers" :key="user.id">
          <a href="javascript:void(0);" @click="addMember(user)" :title="user.email">
            {{user.firstName}} {{user.lastName}}
            {{user.email}}
          </a>
        </li>
      </ul>
      </div>
      <div>Added Members: <button type="button" class="btn btn-primary" @click="editMembers">Edit</button></div>
      <div v-if="showRemove">
      <ul v-if="members.length" class="list-inline">
          <li v-for="user in members" :key="user.id" class="list-inline-item row">
            <div class="col-sm-5"> {{ user.name }} {{ user.email }} </div>
            <label class="col-sm-2 form-control">
              Designation
            </label>
            <input type="text" class="col-sm-4 form-control" name="designation" id="name" v-model="user.title"
              placeholder="Add designation">
            <button class="col-sm-1 btn btn-sm" @click="removeMember(user)">
              <img src="@/assets/icons/remove.svg" alt="Remove member">
            </button>
          </li>
        </ul>
        </div>
        <div v-else>
           <ul v-if="members.length" class="list-inline">
          <li v-for="user in members" :key="user.id" class="list-inline-item row">
            <div class="col-sm-5"> {{ user.name }} {{ user.email }} </div>
             <div class="col-sm-2">
              {{user.title}}
            </div>
          </li>
        </ul>
        </div>
      <!--b-button type="submit" variant="primary">Submit</b-button -->
      <button type="submit" class="btn btn-primary" @click="handleSubmit">Submit</button>
    </b-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import utils from '../utils';

export default {
  name: 'Staff',
  data() {
    return {
      searchUser: '',
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
      showRemove:false
    };
  },
  computed: mapGetters({
    getFilteredUsers: 'getFilteredUsers',
    members: 'getMembers'
  }),
  mounted() {
    this.$store.dispatch('getMembers', { instituteId: utils.getInstituteId(), title__not_null: true });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.members.map(member => {
        const user = Object.assign({}, member);
        user.instituteId = utils.getInstituteId();
        this.$store.dispatch('updateUser', user);
      });
       this.showRemove=false;
    },
    queryForUsers() {
      this.$nextTick(() => {
        if (this.searchUser.length > 2) {
          this.$store.dispatch('getUsers', { search: this.searchUser
          // ,instituteId: utils.getInstituteId(),
          });
        }
        return;
      });
    },
    addMember(user) {
      // TODO: Avoid dubplicate adding of same user
      this.showRemove=true
      if(this.members.indexOf(user) == -1){
      this.$store.commit('setMembers', [...this.members, user]);
        }
    },
    removeMember(user) {
      const u = Object.assign({}, user);
      u.title = null;
      this.$store.dispatch('removeMember', u);
    },
    inviteUser() {
      this.$store.dispatch('inviteUser', { invite: true, email: this.searchUser });
      return true;
    },
    editMembers() {
      this.showRemove=!this.showRemove;
    },
    isEmailValid: function() {
      return (this.searchUser== "")? "" : (this.reg.test(this.searchUser)) ? false:true;
    }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
.btn-primary {
    color: #fff;
    background-color: #076bd6;
    border-color: #076bd6;
}
</style>
