<template>
  <div id="app">
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="http://inclusivestem.org/images/logos/Istem_logo.png" alt="Istem logo" width="70px" height="70px">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link class="navbar-nav nav-link" to="/" title="Home">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="navbar-nav nav-link tour-step-0" to="/institute" title="Institute">Institute</router-link>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
         <button class="btn btn-dark" @click="logOut()">
           Logout
         </button>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="'/profile'" title="profile">
            <img src="@/assets/icons/profile.svg" alt="My Account" placeholder="View profile">
          </router-link>
        </li>
      </ul>
    </header>
    <router-view/>
    <v-tour name="Tour" :steps="steps">
       <template slot-scope="tour">
    <transition name="fade">
      <v-step
        v-if="tour.currentStep === index"
        v-for="(step, index) of tour.steps"
        :key="index"
        :step="step"
        :previous-step="tour.previousStep"
        :next-step="tour.nextStep"
        :stop="tour.stop"
        :is-first="tour.isFirst"
        :is-last="tour.isLast"
        :labels="tour.labels"
      >
        <template v-if="tour.currentStep === 0">
          <div slot="actions">
            <button @click="tour.stop" class="v-step__button">Skip tour</button>
            <button @click="myNextStep" class="v-step__button">Next</button>
          </div>
        </template>
      </v-step>
    </transition>
  </template>
    </v-tour>
    <div class="vue-ui-loading-indicator" aria-hidden="true" aria-live="polite" aria-label="Loading..." role="status">
      <div class="animation"></div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {

      steps: [
        {
          target: '.tour-step-0', // We're using document.querySelector() under the hood
          content: 'Start building your profile on platform',
          params: {
            placement: 'top'
          }
        },
        {
          target: '.tour-step-1',
          content: 'Create your Institute\'s profile',
          params: {
            placement: 'top'
          }
        },
        {
          target: '.tour-step-2',
          content: 'Add your team/staff member',
          params: {
            placement: 'top'
          }
        },
        {
          target: '.tour-step-3',
          content: 'Select the disability supported by the Institute',
          params: {
            placement: 'top'
          }
        },
        {
          target: '.tour-step-4',
          content: 'Create your institute\'s committee',
          params: {
            placement: 'top'
          }
        },
        {
          target: '.tour-step-5',
          content: 'Select the accommodations supported by the Institute',
          params: {
            placement: 'top'
          }
        },
        {
          target: '.tour-step-6',
          content: 'Create student\'s onboarding form',
          params: {
            placement: 'top'
          }
        },
          {
          target: '.tour-step-7',
          content: 'Create student\'s request instance form',
          params: {
            placement: 'top'
          }
        },
      ]
    };
  },
  mounted() {
    this.$tours.Tour.start();
  },
  methods:{
    myNextStep(){
      if(this.$route.path=="/Institute"){
        this.$tours["Tour"].nextStep();
      }
      else{
        this.$router.push('Institute');
        }
    },
    logOut() {
         this.$store.dispatch('logoutUser');
         this.$router.push("/");
         this.$router.go();
       }
  }
 
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.form {
  max-width: 640px;
  text-align: left;
}
.form .radio {
  display: inline-block;
  margin: 0 5px;
}
.form .radio input[type="radio"] {
  margin-right: 5px;
}

.vue-ui-loading-indicator>.animation {
  -webkit-animation: rotating .7s linear infinite;
  animation: rotating .7s linear infinite;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-right-color: #2c3e50;
  border-bottom-color: #2c3e50;
  position: fixed;
  bottom: 50px;
  left: 50%;
}
.vue-ui-loading-indicator .animation {
  border-right-color: #42b983;
  border-bottom-color: #42b983;
}
@keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.vue-ui-loading-indicator[aria-hidden="false"]{
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.vue-ui-loading-indicator[aria-hidden="true"]{
  opacity: 0;
  visibility: hidden;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.53);
}
</style>
